<IfModule mod_auth_privcon_module>
    AddHandler privcon-handler .jpg
    AddHandler privcon-handler .txt
</IfModule>

PrivConPublicKey "LS0tLS1CRUdJTiBQVUJMSUMgS0VZLS0tLS0NCk1JR2ZNQTBHQ1NxR1NJYjNEUUVCQVFVQUE0R05BRENCaVFLQmdRQzBJWlVwVjJmK3ROTEQybXg3V0dud3dyNlINCnhoejJQMmF6M08zbmFKeEh4Vjh2OXJsRWRVZHFBV25wMjNTQ0xUSWp4djU3Q2pWdVY1ODM3dElzM0thaUEzZGENClpBT2FPVGFZS3dMd2dGWTlpWWd5UEIzVzNtS3Z3SjVNQ2tjTTQxUmZ1ZnQvUEkvTVpNWVk0VGJLQlVDNDRMQy8NClpZM3NFOGt5MVhhTTR4ZWxlUUlEQVFBQg0KLS0tLS1FTkQgUFVCTElDIEtFWS0tLS0t"
PrivConPublicKeyPath "samplekey.pub"